<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<body>

<h1>Lista de Produtos</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sku</th>
        <th>Estoque</th>
        <th>Preço</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.sku}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>